<!-- sidebar.html -->
<nav id="sidebar" class="sidebar vh-100 d-flex flex-column">
    <ul class="nav flex-column pt-3">
        <li class="nav-item">
            <a class="nav-link" href="/member/">
                관리자
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/board/list/">
                매장
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/part/list/">
                참여자
            </a>
        </li>
    </ul>
    <ul class="nav flex-column mt-auto custom-margin">
        <li class="nav-item">
            <a class="nav-link" href="/member/logout/">
                Log-out
            </a>
        </li>
    </ul>
</nav>
