<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap.min.css' %}">
    <title>글쓰기 페이지</title>
</head>
<body>
<h1>글쓰기 페이지</h1>
<form method="POST">
    {% csrf_token %}
    제목<br>
    <input type="text" name="postname" value="{{post.postname}}"><br>
    내용<br>
    <textarea rows="10" cols="50" name="contents">{{post.contents}}</textarea><br>
    <!-- 이미지 보여주기 -->
    {% if post.mainphoto %}
    <img src = "{{ post.mainphoto.url }}" alt="" height="600">
    <br>
    {% endif %}
    <input type="file" name="mainphoto" accept="image/*" id="id_mainphoto">
    <br>
    <input type="submit" value="수정하기">
</form>
</body>
</html>