{% extends "base.html" %}
{% block content %}
<div class="container>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>회원가입</h1>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        {{error}}
    </div>
</div>
<div class="container>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <form method="POST" action="member" id="myForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                            type="text"
                            class="form-control"
                            id="username"
                            placeholder="username"
                            name="username"
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            placeholder="email"
                            name="email"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="password"
                            name="password"
                    />
                </div>
                <div class="form-group">
                    <label for="re_password">Re-Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="re_password"
                            placeholder="re_password"
                            name="re_password"
                    />
                </div>
                <button type="submit" class="btn btn-primary" id="joinForm_submit">Submit</button>
                <button
                        type="button"
                        class="btn btn-info btn-primary btn-block"
                        onclick="location.href='/'"
                >Home
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<script>

    let name = document.getElementById('username');
    let email = document.getElementById('email');
    let password = document.getElementById('password');
    let re_password = document.getElementById('re_password');
    // name.value = {{ returnValue.username }};
    // email.value = {{ returnValue.email }};
    // password.value = {{ returnValue.password }};
    // re_password.value = {{ returnValue.re_password }};
/**
    function A() {
        if (name.value === "") {
            alert("이름을 입력해주세요.");
            name.focus();
            return false;
        }
        else if (email.value === "") {
            alert("이메일을 입력해주세요.");
            email.focus();
            return false;
        }
        else if (password.value === "") {
            alert("비밀번호를 입력해주세요.");
            return false;
        }
        else if (re_password.value === "") {
            alert("비밀번호 확인을 입력해주세요.");
            return false;
        }
        else if (password.value !== re_password.value) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        } else {
            const emailInput = document.getElementById('email').value;
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (emailPattern.test(emailInput)) {
                document.getElementById('myForm').submit();
                return true;
            } else {
                alert(emailPattern.test(emailInput));
                alert('이메일 형식이 이상합니다.');
                return false;
            }

        }
     }
 */
</script>
