{% extends "base.html" %}
{% block content %}
<style>
    .ui-autocomplete {
        z-index: 1001;
        background: rgba(255, 255, 255, 0.9);
    }
    .ui-helper-hidden-accessible {
        display: none;
    }
</style>
<div class="container mt-5">
    <h1>이벤트 참여</h1>
    <form method="POST" action="." enctype="multipart/form-data" id="eventPartForm">
        {% csrf_token %}
        <div class="form-row">
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                {% if field.name == 'num' %}
                <input
                        type="{{ field.field.widget.input_type }}"
                        class="form-control"
                        id="{{ field.id_for_label }}"
                        placeholder="{{ field.label }}"
                        name="{{ field.name }}"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                />
                {% elif field.name == 'placeId' %}
                <input
                        type="text"
                        class="form-control"
                        id="place"
                        placeholder="{{ field.label }}"
                        name="place"
                />
                <input type="hidden" id="{{ field.id_for_label }}" name="{{ field.name }}">
                {% else %}
                <input
                        type="{{ field.field.widget.input_type }}"
                        class="form-control"
                        id="{{ field.id_for_label }}"
                        placeholder="{{ field.label }}"
                        name="{{ field.name }}"
                />
                {% endif %}
            </div>
            {% if field.errors %}
            <span style="color: red;">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}
        </div>
        <div class="form-group">
            <img src="#" id="preview" width="300" alt="이미지 미리보기" style="max-width: 300px; display: none;">
        </div>
        <button type="submit" class="btn btn-success">참여 완료</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='/places/'">이벤트 매장 리스트</button>
    </form>
</div>
<!-- autocomplete를 사용하기 위한 script-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    /* 검색 반자동 완성 */
    $(function() {
        $("#place").autocomplete({
            source: "{% url 'autocomplete' %}",
            minLength: 2,
            select: function(event, ui) {
                $("#place").val(ui.item.label);
                $("#{{ form.placeId.id_for_label }}").val(ui.item.value);
                return false;
            }
        });
    });
</script>
{% endblock %}