{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="my-4 text-center">{{ place.place }}</h3>
    <div class="place-detail">
        {% if place.placeImage %}
        <img src="{{ place.placeImage.url }}" alt="{{ place.place }}">
        {% else %}
        <img src="{% static 'images/default.png' %}" alt="기본 이미지">
        {% endif %}
        <div class="place-details">
            <p><strong>상호:</strong> <br/>{{ place.place }}</p>
            <p><strong>주소:</strong> <br/>{{ place.address }}</p>
            <p><strong>연락처:</strong> <br/>{{ place.placeNum }}</p>
            <!-- <p><strong>설명:</strong> {{ place.description }}</p> -->
        </div>
    </div>
</div>
{% endblock %}